<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/rand">Random</a>
        </li>
        <li>
            <a href="/r/chickens">Chickens</a>
        </li>
        <li>
            <a href="/r/soccer">Soccer</a>
        </li>
        <li>
            <a href="/r/mightyharvest">Mighty Harvest</a>
        </li>
    </ul>
</div>