<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/navbar.ejs') %> 

    <h1>Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, sunt ut modi tenetur consectetur voluptatibus possimus reiciendis autem iusto velit asperiores quos saepe, ipsa nam harum dolores officia fuga nobis?</p>
    <p>This expression here is in EJS format - it reads in JS! <%= 4+5+1 %></p>
    <p>Other examples: <%='hello world'.toUpperCase()%></p>
</body>
</html>