<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/navbar.ejs') %> 

    <h1>Your random no. is <%=num%></h1>
    <!--Add logic-->
    <% if (num % 2 === 0){ %> 
        <h2>This is an even number!</h2>
    <% }else{%>
        <h2>This is an odd number!</h2>
    <% } %> 
    
    <!--or-->
    <h3>That number is <%= num%2===0 ? 'EVEN' : 'ODD' %></h3>
</body>
</html>